body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

form,
table {
    margin-bottom: 20px;
}

label,
input,
select,
fieldset {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
